---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "minima";

i[class^=devicon]:before {
  border:#ccc solid 1px;
  padding:10px;
  border-radius:5px;
  font-size:40px;
  display:inline-block;
}

/* 
Breakpoints idea:
https://medium.com/codeartisan/breakpoints-and-media-queries-in-scss-46e8f551e2f2
*/

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

// Here

#portfolio-gallery {

  margin:0;
  padding:0;

  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  
  justify-content:space-evenly;
  align-items: stretch;
  margin:0 -2%;
  
  .portfolio-item {

    margin-bottom:25px;

    flex-grow:0;
    flex-shrink:0;

    background-color:#eee;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);

    min-width:100%;
    max-width:100%;

    @include sm {
      min-width:46%;
      max-width:46%;
    }
    
    .content {
      a, p {
        display:block;
        width:100%;
        margin:0;
        color:#888;
      }
      h1, h2, h3 {
        margin:0;
        color:#666;
        font-size:0.9rem;
        font-weight: bold;
      }
    }

    .details-container{

      font-size:0.8rem;
      position:relative;
      padding:0.5rem;

      text-align: center;

      .inner-title {
      }

      .inner-date {
      }
      .inner-desc {
      }

    }

    .image-container {

      width:100%;
      height:150px;
      overflow:hidden;
      position: relative;    

      .image-overlay {
        width:100%;
        height:100%;
        position: absolute;
        background-color: #333;
        opacity:0.0;
      }

      
    }
  }
  
}