---
layout: default
---
<section class="return-projects">
  <a href="/projects/" >
    ← Return to "Projects"
  </a>
</section>

<main id="project-single">

  <section id="head">
      <a href="{{page.url}}" id="title-link">
        <h1 id="title-header">{{ page.title }}</h1>
      </a>
      <a href="{{page.link}}" class="project-link" target="_blank">
        {{page.link}}
      </a>
  </section>

  <section id="content">
      {{ content }}
  </section>

  <section id="details">
    <div class="holder">
        <span class="label">
          Released:
        </span>
        <span class="value">
          {{ page.date | date: "%B %Y" }}
        </span>
    </div>
    <div class="holder">
      <span class="label">
        Tech:
      </span>
      <span class="value">
        {{page.tech}}
      </span>
    </div>
  </section>
    
  <section id="image">
    <a href="{{page.link}}">
      <img id="project-image" src="{{ site.baseurl }}/{{ site.image_path }}/{{ page.image }}">
    </a>
  </section>

</main>